<div class="center-page-content">
  <form
    #signUpForm="ngForm"
    class="app-form-section"
    (ngSubmit)="onFormSubmit(signUpForm)"
  >
    <p class="app-form-title">Sign Up</p>
    <div *ngIf="error" class="error-alert-div">
      <label>{{ error }}</label>
    </div>
    <div *ngIf="successMessage" class="success-alert-div">
      <label>{{ successMessage }}</label>
    </div>
    <div class="app-form-input-group">
      <label for="register__email__input" class="app-form-input-label"
        >Email Id</label
      >
      <input
        id="register__email__input"
        type="text"
        class="app-form-input"
        placeholder="Enter your Email ID"
        #email="ngModel"
        name="email"
        [(ngModel)]="authService.selectedUser.email"
        required
        [ngClass]="{ 'invalid-textbox': submitted && !email.valid }"
        email
      />
      <div *ngIf="submitted && email.errors">
        <label class="validation-message" *ngIf="email.errors.required"
          >This field is required</label
        >
        <label class="validation-message" *ngIf="email.errors.email"
          >Invalid email address</label
        >
      </div>
    </div>
    <div class="app-form-input-group">
      <label for="register__phone__input" class="app-form-input-label"
        >Phone Number</label
      >
      <input
        id="register__phone__input"
        type="number"
        class="app-form-input"
        placeholder="Enter your phone number"
        #phone="ngModel"
        name="phone"
        [(ngModel)]="authService.selectedUser.phone"
        required
        pattern=".{10,10}"
        [ngClass]="{ 'invalid-textbox': submitted && !phone.valid }"
      />
      <div *ngIf="submitted && phone.errors">
        <label class="validation-message" *ngIf="phone.errors.required"
          >This field is required</label
        >
        <label class="validation-message" *ngIf="phone.errors.pattern"
          >Phone number should be 10 digits</label
        >
        <label class="validation-message" *ngIf="phone.errors.type"
          >Invalid phone number</label
        >
      </div>
    </div>
    <div class="app-form-input-group">
      <label for="register__password__input" class="app-form-input-label"
        >Password</label
      >
      <input
        id="register__password__input"
        type="password"
        class="app-form-input"
        placeholder="Enter your password"
        #password="ngModel"
        name="password"
        [(ngModel)]="authService.selectedUser.passowrd"
        required
        minlength="8"
        [pattern]="passwordRegex"
        [ngClass]="{
          'invalid-textbox': submitted && !password.valid
        }"
      />
      <small class="app-form-input-small-text">Minimum 8 Alpha Numeric</small>
      <div *ngIf="submitted && password.errors">
        <label class="validation-message" *ngIf="password.errors.required"
          >This field is required</label
        >
        <label
          class="validation-message"
          *ngIf="password.errors.minlength"
          >Minimum 8 alpha numeric characters</label
        >
        <label
          class="validation-message"
          *ngIf="!password.errors.minlength && password.errors.pattern"
          >Password should have atleast one uppercase, one lowercase, one
          numeric and one special character
        </label>
      </div>
    </div>
    <input class="app-form-submit-btn" type="submit" value="Sign Up" />
    <a href="/">Login here for existing users</a>
  </form>
</div>
